.home-without-login-container {
  min-height: 100vh;
}
.home-without-login-home-without-login {
  width: 100%;
  height: 9832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.home-without-login-rectangle26 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 836px;
  position: absolute;
}
.home-without-login-footer {
  top: 9538px;
  left: 0px;
  width: 1440px;
  height: 294px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(6, 6, 6, 1);
}
.home-without-login-group93511 {
  top: 180px;
  left: 556px;
  width: 328px;
  height: 58px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-splash-logo1 {
  top: 48px;
  left: 588px;
  width: 264px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-download {
  top: 8705px;
  left: 117px;
  width: 1341px;
  height: 1071px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-group93761 {
  top: 0px;
  left: 23px;
  width: 1318px;
  height: 1071px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-group9338 {
  top: 254px;
  left: 0px;
  width: 682px;
  height: 364px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 53px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-googleplaybadge1 {
  top: 57px;
  left: 363.6871643066406px;
  width: 287.3128356933594px;
  height: 307px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-without-login-group {
  top: 105.53125px;
  left: 0px;
  width: 287.3128356933594px;
  height: 95.9375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-vector {
  top: 0px;
  left: 0px;
  width: 287px;
  height: 96px;
  position: absolute;
}
.home-without-login-vector01 {
  top: 19.1875px;
  left: 21.997310638427734px;
  width: 49px;
  height: 56px;
  position: absolute;
}
.home-without-login-vector02 {
  top: 19.1875px;
  left: 23.79314613342285px;
  width: 35px;
  height: 28px;
  position: absolute;
}
.home-without-login-vector03 {
  top: 38.13517379760742px;
  left: 50.055206298828125px;
  width: 21px;
  height: 18px;
  position: absolute;
}
.home-without-login-vector04 {
  top: 47.00935745239258px;
  left: 24.017635345458984px;
  width: 34px;
  height: 28px;
  position: absolute;
}
.home-without-login-vector05 {
  top: 43.171875px;
  left: 86.3604507446289px;
  width: 181px;
  height: 41px;
  position: absolute;
}
.home-without-login-vector06 {
  top: 77.22968292236328px;
  left: 256.3370361328125px;
  width: 0px;
  height: 0px;
  position: absolute;
}
.home-without-login-vector07 {
  top: 77.22968292236328px;
  left: 256.84185791015625px;
  width: 0px;
  height: 0px;
  position: absolute;
}
.home-without-login-vector08 {
  top: 77.22968292236328px;
  left: 257.01031494140625px;
  width: 0px;
  height: 0px;
  position: absolute;
}
.home-without-login-vector09 {
  top: 17.26875877380371px;
  left: 87.31611633300781px;
  width: 12px;
  height: 14px;
  position: absolute;
}
.home-without-login-vector10 {
  top: 17.50858497619629px;
  left: 101.90621948242188px;
  width: 9px;
  height: 14px;
  position: absolute;
}
.home-without-login-vector11 {
  top: 17.50858497619629px;
  left: 112.90489196777344px;
  width: 10px;
  height: 13px;
  position: absolute;
}
.home-without-login-vector12 {
  top: 17.50858497619629px;
  left: 130.41314697265625px;
  width: 2px;
  height: 13px;
  position: absolute;
}
.home-without-login-vector13 {
  top: 17.50858497619629px;
  left: 134.90240478515625px;
  width: 10px;
  height: 13px;
  position: absolute;
}
.home-without-login-vector14 {
  top: 17.26875877380371px;
  left: 151.96163940429688px;
  width: 13px;
  height: 14px;
  position: absolute;
}
.home-without-login-vector15 {
  top: 17.50858497619629px;
  left: 167.44956970214844px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.home-without-login-appstorebadge1 {
  top: 57px;
  left: 0px;
  width: 287.3128356933594px;
  height: 307px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.home-without-login-group1 {
  top: 105.53125px;
  left: 0px;
  width: 287.3128356933594px;
  height: 95.9375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-vector16 {
  top: 0px;
  left: 0px;
  width: 287px;
  height: 96px;
  position: absolute;
}
.home-without-login-vector17 {
  top: 30.17015838623047px;
  left: 22.994306564331055px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.home-without-login-vector18 {
  top: 15.829669952392578px;
  left: 45.488590240478516px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.home-without-login-vector19 {
  top: 43.65155792236328px;
  left: 87.54061889648438px;
  width: 24px;
  height: 31px;
  position: absolute;
}
.home-without-login-vector20 {
  top: 52.04608917236328px;
  left: 115.59851837158203px;
  width: 20px;
  height: 32px;
  position: absolute;
}
.home-without-login-vector21 {
  top: 52.04608917236328px;
  left: 139.6161651611328px;
  width: 20px;
  height: 32px;
  position: absolute;
}
.home-without-login-vector22 {
  top: 43.41170120239258px;
  left: 169.0206756591797px;
  width: 18px;
  height: 32px;
  position: absolute;
}
.home-without-login-vector23 {
  top: 46.76953125px;
  left: 189.2223663330078px;
  width: 13px;
  height: 28px;
  position: absolute;
}
.home-without-login-vector24 {
  top: 51.80623245239258px;
  left: 204.71047973632812px;
  width: 20px;
  height: 23px;
  position: absolute;
}
.home-without-login-vector25 {
  top: 51.56640625px;
  left: 228.72792053222656px;
  width: 11px;
  height: 23px;
  position: absolute;
}
.home-without-login-vector26 {
  top: 51.80623245239258px;
  left: 242.19570922851562px;
  width: 19px;
  height: 23px;
  position: absolute;
}
.home-without-login-vector27 {
  top: 17.50858497619629px;
  left: 90.2342758178711px;
  width: 12px;
  height: 15px;
  position: absolute;
}
.home-without-login-vector28 {
  top: 21.346111297607422px;
  left: 104.37535858154297px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.home-without-login-vector29 {
  top: 21.5859375px;
  left: 116.72084045410156px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.home-without-login-vector30 {
  top: 21.10625648498535px;
  left: 134.67788696289062px;
  width: 9px;
  height: 12px;
  position: absolute;
}
.home-without-login-vector31 {
  top: 16.549236297607422px;
  left: 147.4723663330078px;
  width: 2px;
  height: 16px;
  position: absolute;
}
.home-without-login-vector32 {
  top: 21.346111297607422px;
  left: 153.08395385742188px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.home-without-login-vector33 {
  top: 21.346111297607422px;
  left: 165.8782196044922px;
  width: 9px;
  height: 12px;
  position: absolute;
}
.home-without-login-vector34 {
  top: 16.7890625px;
  left: 177.55039978027344px;
  width: 10px;
  height: 16px;
  position: absolute;
}
.home-without-login-vector35 {
  top: 21.346111297607422px;
  left: 196.62977600097656px;
  width: 10px;
  height: 12px;
  position: absolute;
}
.home-without-login-vector36 {
  top: 21.10625648498535px;
  left: 210.32205200195312px;
  width: 9px;
  height: 12px;
  position: absolute;
}
.home-without-login-vector37 {
  top: 18.947673797607422px;
  left: 228.2790985107422px;
  width: 6px;
  height: 14px;
  position: absolute;
}
.home-without-login-vector38 {
  top: 16.549236297607422px;
  left: 237.70643615722656px;
  width: 9px;
  height: 16px;
  position: absolute;
}
.home-without-login-vector39 {
  top: 21.5859375px;
  left: 249.82740783691406px;
  width: 9px;
  height: 11px;
  position: absolute;
}
.home-without-login-game-section {
  top: 4503px;
  left: 88px;
  width: 1276px;
  height: 4363px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text02 {
  left: 561px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-g6 {
  top: 3632px;
  left: 44px;
  width: 1232px;
  height: 731px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-group9367 {
  top: 0px;
  left: 0px;
  width: 1232px;
  height: 731px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text04 {
  top: 263px;
  left: 663px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text06 {
  top: 342px;
  left: 663px;
  color: rgba(68, 68, 68, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group93621 {
  top: 0px;
  left: 0px;
  width: 1232px;
  height: 731px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-g5 {
  top: 2945px;
  left: 0px;
  width: 1238px;
  height: 684px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text11 {
  top: 235px;
  left: 77px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text13 {
  top: 314px;
  left: 77px;
  color: rgba(68, 68, 68, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group93751 {
  top: 0px;
  left: 0px;
  width: 1238px;
  height: 684px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-g4 {
  top: 2262px;
  left: 16px;
  width: 1232px;
  height: 731px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text15 {
  top: 182px;
  left: 665px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text17 {
  top: 261px;
  left: 665px;
  color: rgba(68, 68, 68, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group93622 {
  top: 0px;
  left: 0px;
  width: 1232px;
  height: 731px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-g3 {
  top: 1563px;
  left: 94px;
  width: 1144px;
  height: 699px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text19 {
  top: 203px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text21 {
  top: 282px;
  color: rgba(68, 68, 68, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group93731 {
  top: 0px;
  left: 525px;
  width: 619px;
  height: 699px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-g2 {
  top: 882px;
  left: 16px;
  width: 1226px;
  height: 681px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text23 {
  top: 211px;
  left: 724px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text25 {
  top: 290px;
  left: 724px;
  color: rgba(68, 68, 68, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group93721 {
  top: 0px;
  left: 0px;
  width: 1226px;
  height: 681px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-g1 {
  top: 187px;
  left: 16px;
  width: 1226px;
  height: 695px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text27 {
  top: 175px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text29 {
  top: 254px;
  left: 100px;
  color: rgba(68, 68, 68, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group93711 {
  top: 0px;
  left: 0px;
  width: 1226px;
  height: 695px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-programs-section {
  top: 3724px;
  left: 87px;
  width: 1267px;
  height: 742px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text31 {
  left: 532px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text33 {
  top: 88px;
  left: 360px;
  color: rgba(105, 105, 105, 1);
  width: 540px;
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-phase-two {
  top: 202px;
  left: 436px;
  width: 395px;
  height: 540px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text35 {
  top: 44px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text37 {
  top: 118px;
  left: 44px;
  color: rgba(51, 51, 51, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-rectangle38 {
  top: 0px;
  left: 0px;
  width: 395px;
  height: 528px;
  position: absolute;
  border-color: rgba(226, 226, 226, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.home-without-login-rectangle950 {
  top: 257px;
  left: 133px;
  width: 159px;
  height: 283px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-phaseone {
  top: 154px;
  left: 0px;
  width: 395px;
  height: 546px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-vector16 {
  top: 512px;
  left: 107px;
  width: 166px;
  height: 14px;
  position: absolute;
}
.home-without-login-text39 {
  top: 37px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text41 {
  top: 111px;
  left: 44px;
  color: rgba(51, 51, 51, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-rectangle37 {
  top: 0px;
  left: 0px;
  width: 395px;
  height: 528px;
  position: absolute;
  border-color: rgba(226, 226, 226, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.home-without-login-rectangle951 {
  top: 298px;
  left: 149px;
  width: 98px;
  height: 248px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-phase-three {
  top: 154px;
  left: 872px;
  width: 395px;
  height: 553px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-vector15 {
  top: 512px;
  left: 122px;
  width: 166px;
  height: 14px;
  position: absolute;
}
.home-without-login-text43 {
  top: 32px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text45 {
  top: 106px;
  left: 28px;
  color: rgba(51, 51, 51, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-rectangle39 {
  top: 0px;
  left: 0px;
  width: 395px;
  height: 528px;
  position: absolute;
  border-color: rgba(226, 226, 226, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.home-without-login-rectangle952 {
  top: 170px;
  left: 137px;
  width: 121px;
  height: 383px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-about-us-section {
  top: 782px;
  left: 131px;
  width: 1199px;
  height: 2842px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text47 {
  left: 388px;
  color: rgba(0, 0, 0, 1);
  width: 402px;
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text48 {
  font-weight: 700;
}
.home-without-login-f1 {
  top: 144px;
  left: 0px;
  width: 1199px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-group9369 {
  top: 0px;
  left: 0px;
  width: 1199px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-group25 {
  top: 179px;
  left: 0px;
  width: 433px;
  height: 279px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text55 {
  color: rgba(0, 0, 0, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text57 {
  top: 69px;
  color: rgba(68, 68, 68, 1);
  width: 433px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group9339 {
  top: 0px;
  left: 704px;
  width: 495px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-rectangle30 {
  top: 0px;
  left: 0px;
  width: 495px;
  height: 554px;
  position: absolute;
}
.home-without-login-rectangle904 {
  top: 100px;
  left: 793px;
  width: 311px;
  height: 312px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-f2 {
  top: 855px;
  left: 0px;
  width: 1167px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-group24 {
  top: 172px;
  left: 738px;
  width: 429px;
  height: 314px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text59 {
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text61 {
  top: 69px;
  color: rgba(68, 68, 68, 1);
  width: 429px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group9343 {
  top: 0px;
  left: 0px;
  width: 495px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-rectangle31 {
  top: -6px;
  right: -11px;
  width: 495px;
  height: 554px;
  position: absolute;
}
.home-without-login-rectangle905 {
  top: 113px;
  left: 73px;
  width: 315px;
  height: 304px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-f3 {
  top: 1554px;
  left: 0px;
  width: 1199px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-group23 {
  top: 179px;
  left: 0px;
  width: 430px;
  height: 279px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text66 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text68 {
  top: 69px;
  color: rgba(68, 68, 68, 1);
  width: 430px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group9344 {
  top: 0px;
  left: 704px;
  width: 495px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-rectangle32 {
  top: 0px;
  left: 0px;
  width: 495px;
  height: 554px;
  position: absolute;
}
.home-without-login-rectangle906 {
  top: 90px;
  left: 819px;
  width: 294px;
  height: 317px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-f4 {
  top: 2288px;
  left: 12px;
  width: 1152px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-group26 {
  top: 169px;
  left: 686px;
  width: 466px;
  height: 289px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text73 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text75 {
  top: 79px;
  color: rgba(68, 68, 68, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group9346 {
  top: 0px;
  left: 0px;
  width: 495px;
  height: 554px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-rectangle321 {
  top: -22px;
  right: 0px;
  width: 495px;
  height: 554px;
  position: absolute;
}
.home-without-login-rectangle948 {
  top: 88px;
  left: 89px;
  width: 317px;
  height: 319px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-home {
  top: 107px;
  left: 50px;
  width: 1366px;
  height: 697px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text77 {
  top: 118px;
  left: 154px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-group9342 {
  top: 540px;
  left: 0px;
  width: 147px;
  height: 156.099853515625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-rectangle27 {
  top: 82px;
  left: 81px;
  width: 66px;
  height: 74px;
  position: absolute;
}
.home-without-login-rectangle29 {
  top: 0px;
  left: 0px;
  width: 66px;
  height: 74px;
  position: absolute;
}
.home-without-login-text79 {
  top: 216px;
  left: 156px;
  color: rgba(70, 74, 73, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-join-us1 {
  top: 494px;
  left: 171px;
  width: 151px;
  height: 62px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-group93701 {
  top: 0px;
  left: 719px;
  width: 647px;
  height: 697px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-header {
  top: 26px;
  left: 32px;
  width: 1343px;
  height: 94px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-header1 {
  top: 25px;
  left: 538px;
  width: 448px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-without-login-text81 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text83 {
  left: 117px;
  color: rgba(11, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text85 {
  left: 234px;
  color: rgba(11, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-text87 {
  left: 362px;
  color: rgba(11, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-without-login-splash-logo2 {
  top: 0px;
  left: 0px;
  width: 264px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-loginbutton1 {
  top: 19px;
  left: 1260px;
  width: 83px;
  height: 37px;
  position: absolute;
  border-color: transparent;
}
.home-without-login-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
